certifi==2024.12.14
charset-normalizer==3.4.1
comtypes==1.4.8
idna==3.10
keyboard==0.13.5
Nuitka
numpy
urllib3
winsdk==1.0.0b10
wxPython==4.2.2
zstandard==0.23.0
ordered-set==4.1.0
psutil==6.1.0
pycaw==20240210
pynput==1.7.7
pywin32==308
requests==2.32.3
six==1.16.0